/node_modules/
/lib/
/test/
custom-elements.json
# top level source
my-lit-component.js
my-lit-component.js.map
my-lit-component.d.ts
my-lit-component.map
# only generated for size check
my-lit-component.bundled.js
